body {
	background-image: url("https://img.freepik.com/premium-photo/truck-runs-highway-with-speed-3d-rendering-illustration_37416-545.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	color: #000;
	font-size: 1.8rem;
	letter-spacing: -0.015em;
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	background: #666;
	color: #FFF;
	padding: 2px 6px;
	border-collapse: separate;
	border:  1px solid #000;
}